

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.noArticles {
    display: none;
}

.articleContainer {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}